.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    padding-top: 20px;
    width: 100%;
}

h3 {
    margin-bottom: 0;
    margin-top: 24px;
}

p { 
    margin-top: 8px;
}

.login-custom-input {
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--ion-color-light);
    border: 1px solid var(--icon-color-step-700);
    border-radius: 4px;
}

.login-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.login-title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
    align-items: center;
}